<ion-pane>

<div class="bar bar-header bar-royal">
  <button class="button icon ion-chevron-left" ui-sref="sendmoney"></button>
  <h1 class="title">Enter PIN</h1>
  <button class="button icon ion-android-exit" ng-click="user.logout()"></button>
</div>



  <ion-view view-title="EnterPIN2" name="enterpin2-view">
  <ion-content class="padding">
      
      <div class="epin-btns">
      	
		<button class="button button-royal">
		  1
		</button>
		<button class="button button-royal">
		  2
		</button>
		<button class="button button-royal">
		  3
		</button>

		<br clear="all" />

		<button class="button button-royal">
		  4
		</button>
		<button class="button button-royal">
		  5
		</button>
		<button class="button button-royal">
		  6
		</button>

		<br clear="all" />

		<button class="button button-royal">
		  7
		</button>
		<button class="button button-royal">
		  8
		</button>
		<button class="button button-royal" ui-sref="moneyexchangereport">
		  9
		</button>
		




      </div>
     
  </ion-content>
</ion-view>

</ion-pane>

