<ion-pane>
  
  

<ion-view view-title="Main" name="main-view" class="main">
  <ion-content class="padding">

<div class="logo-holder-big">
    <img src="img/clink-logo.png" width="160px" alt="">
  </div>

  <div class="button-holders-main">
    <button id="main-signin" class="button button-block button-energized" ui-sref="login">
      Sign In
    </button>

    <button class="button button-block button-energized" ui-sref="register">
      Register
    </button>
  </div>
  

 </ion-content>
</ion-view>

</ion-pane>