<ion-pane>

<div class="bar bar-header bar-royal">
  <button class="button icon ion-chevron-left" ui-sref="dashboard"></button>
  <h1 class="title">Money Exchange Receipt</h1>
  <button class="button icon ion-android-exit" ng-click="user.logout()"></button>
</div>



  <ion-view view-title="MoneyExchengeReport" name="moneyexchangereport-view">
  <ion-content class="padding">
      
      <div class="receipt-holder">
      	Done converting your money, from Philippine Peso (PHP) to Japanese YEN (JYP) total amount of 3,800,000 YEN.
      </div>
     
  </ion-content>
</ion-view>

</ion-pane>

