<ion-pane>

<div class="bar bar-header bar-royal">
  <button class="button icon ion-chevron-left" ui-sref="dashboard"></button>
  <h1 class="title">Send Money Receipt</h1>
  <button class="button icon ion-android-exit" ng-click="user.logout()"></button>
</div>



  <ion-view view-title="SendMoneyReport" name="sendmoneyreport-view">
  <ion-content class="padding">
      
      <div class="receipt-holder">
      	You've sent money to there@awesome.com, thanks you for using Clink :)
      </div>
     
  </ion-content>
</ion-view>

</ion-pane>

